.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)); /* Default background */
}

.navbar.scrolled {
    background: black; /* Background saat di-scroll */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2rem;
    color: white;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}